/* Color Palette -->
    Light-Blue: #3BB2BF
    White-Bone: #F2E6D8
    Dark-Red: #590202
    Red: #D90D0D
    Light-Red: #F25E5E
    Yellow: #FFED66
    Black: #262626 */


@font-face {
  font-family: "fortrackItalic";
  src: url(./fonts/Fortrack-Italic.otf);
 }

 @font-face {
  font-family: "fortrackRegular";
  src: url(./fonts/Fortrack-Regular.otf);
 }

 @font-face {
  font-family: "museo700";
  src: url(./fonts/Museo700-Regular.otf);
 }
 
body {
  background-color: #3BB2BF;
  font-family: "museo700";
  padding: 50px 0;
}

main {
  text-align: center;
  }

.header {
  background-color: #F25E5E;
  border-radius: 20px 20px 0 0;
  width: 1080px;
  height: 100px;
  margin: 0 auto;
  }

.heading {
  font-family: "fortrackItalic";
  font-size: 70px;
  color: #FFED66;
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-top: 14px;
}

.controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  padding: 0 0px;
  width: 1080px;
  height: 100px;
  background-color: #F25E5E;
  border-radius: 0 0 20px 20px;
}

.controls > div {
  display: flex;
  align-items: center;
}

.controls > div > p {
  color: #F2E6D8;
  margin: 0;
  }

.controls button {
  background-color: #F2E6D8;
  color: #262626;
  border: none;
  border-radius: 3px;
  padding: 6px 8px;
  margin-left: 20px;
  transition: all 0.3s;
  cursor: pointer;
  outline: none;
}

.controls button:hover {
  background-color: #FFED66;
  transition: all 0.3s;
}

.mode-controls {
  margin-left: 20px;
}

.active-button {
  background-color: #FFED66 !important;
}

.erase {
  color: #F25E5E !important;
  font-weight: 700;
}

/* Game container */
/* small(16x22) medium.default(32x44) big(64x88) */

#grid-container {
  display: inline-grid;
  border: solid #F25E5E;
  border-width: 6px 100px 0;
  grid-gap: 1px;
  background-color: #AAAAAA;
  /* cursor: crosshair; */

}

#grid-container > div {
  background-color: #D8D8D8;
}

.small-grid {
  grid-template-columns: repeat(22, auto);
}
.small-grid > div {
  height: 39px;
  width: 39px;
}

.medium-grid-default {
  grid-template-columns: repeat(44, auto);
}
.medium-grid-default > div {
  height: 19px;
  width: 19px;
}

.big-grid {
  grid-template-columns: repeat(88, auto);
}
.big-grid > div {
  height: 9px;
  width: 9px;
}

.footer {
  text-align: center;
  margin-top: 15px;
  color: #000000;
}

.footer-link {
  color: #FF5E5B;
  font-weight: bold;
  transition: all 0.2s;
}

.footer-link:hover {
  color: #FFED66;
  transition: all 0.2s;
}

/* Breakpoints */

@media only screen and (max-width: 1080px) {
  .header {
    width: 739px;
  }

  .controls {
    flex-direction: column;
    width: 739px;
  }

  .mode-controls {
    margin-left: 0;
  }

  #grid-container {
    border-width: 6px 50px 0;
  }

  .small-grid {
    grid-template-columns: repeat(16, auto);
  }

  .medium-grid-default {
    grid-template-columns: repeat(32, auto);
  }

  .big-grid {
    grid-template-columns: repeat(64, auto);
  }
}
